/*
========================================================================================
    QIB/NBI HPC Configuration
========================================================================================
    Configuration specific to the Quadram Institute / Norwich BioScience Institutes HPC

    Partition:
    - qib-compute : unified queue, no max time limit

    Usage:
      nextflow run main.nf -profile qib --input samplesheet.csv
      nextflow run main.nf -profile test,qib
========================================================================================
*/

process {
    queue = 'qib-compute'
    // clusterOptions = '--account=YOUR_PROJECT'
}
